.login_container {
    -fx-background-color: #F3981C; /* Основной цвет фона */
    -fx-background-radius: 30; /* Скругление углов */
    -fx-effect: innershadow(gaussian, black, 20, 1, 0, 0);
    -fx-min-width: 600px;
    -fx-min-height: 400px; 
}
/* Текст Авторизации */

.text_login_container{
    -fx-alignment: center;
    -fx-font-size: 4em;
    -fx-font-family: "Myriad Pro";
    -fx-fill: #0d0d0d;
    -fx-font-weight: bold;
}

/* Text in menu */
.text_selecter_menu {
    -fx-font-family: "Myriad Pro";
    -fx-font-size: 2.5em;
    -fx-fill: #0d0d0d;
    -fx-font-weight: bold;
    -fx-letter-spacing: 1em; 
}

.centered-gridpane {
    -fx-alignment: center;
}

/* Account Selector ChoiseBox */
.account_selector {
    -fx-background-color: #000000; /* Черный цвет фона */
    -fx-background-radius: 20; 
    -fx-alignment: center;
    -fx-max-width: 200px;
    -fx-max-height: 20px;
}

.account_selector .label{
    -fx-text-fill: #132A13;
    -fx-font-size: 1.1em;
    -fx-alignment: center;
}

.account_selector .arrow{
     -fx-background-color: white;
}

#choise-box-popup-menu{
    -fx-backgroud-color: #ECF39E;
}

.account_input_pane{
    -fx-background-color: #000000; /* Черный цвет фона */
    -fx-background-radius: 20; /* Сильные скругления углов */
    -fx-alignment: center;
    -fx-font-size: 0.5em;
    -fx-pref-width: 1;
    -fx-pref-height: 20;
}

.account_input_pane .label{
    -fx-text-fill: #132A13;
    -fx-font-size: 1.1em;
}

/* GridPane */
.grid_pane Label{
    -fx-alignment: center;
    -fx-max-width: Infinity;
}

.grid_pane TextField {
    -fx-max-width: 260px; /* Устанавливаем максимальную ширину в пикселях */
    -fx-max-height: 40px; /* Устанавливаем максимальную высоту в пикселях */
    -fx-font-size: 1.1em; /* Размер шрифта текстового поля */
    -fx-background-color: #000000; /* Черный цвет фона */
    -fx-background-radius: 20; /* Сильные скругления углов */
    -fx-text-fill: white;
    -fx-font-weight: bold;
}

.grid_pane PasswordField {
    -fx-max-width: 260px; /* Устанавливаем максимальную ширину в пикселях */
    -fx-max-height: 40px; /* Устанавливаем максимальную высоту в пикселях */
    -fx-font-size: 1.1em; /* Размер шрифта текстового поля */
    -fx-background-color: #000000; /* Черный цвет фона */
    -fx-background-radius: 20; /* Сильные скругления углов */
}

.grid_pane ChoiceBox {
    -fx-max-width: 260px; /* Устанавливаем максимальную ширину в пикселях */
    -fx-max-height: 40px; /* Устанавливаем максимальную высоту в пикселях */
    -fx-font-size: 1.1em; /* Размер шрифта текстового поля */
    -fx-background-color: #000000; /* Черный цвет фона */
    -fx-background-radius: 20; /* Сильные скругления углов */
}

.grid_pane {
    -fx-hgap: 5;
    -fx-vgap: 5;
    -fx-padding:10;  
}

/* Login Form Styles */
.login_form_container{
    -fx-spacing: 15;
    -fx-alignment: center;
}

.login_form_container Button{
    -fx-background-color: black;
    -fx-text-fill: #FFFFFF;
    -fx-pref-width: 200;
    -fx-pref-height: 40;
    -fx-font-size: 1.4em;
    -fx-background-radius: 20;
    -fx-alignment: center;
    -fx-font-family: "Myriad Pro";
    -fx-font-weight: bold;
}

.login_form_container Button:hover{
    -fx-cursor: hand;
}

/* Error */
.error_lbl{
    -fx-text-fill: #FF0000;
    -fx-font-weight: bold;
    -fx-font-family: "Myriad Pro";
}

/* Кнопки */
.button_close{
    -fx-background-color: #BD1622;
    -fx-background-radius: 10; /* Сильные скругления углов */
}

.button_preferens{
    -fx-background-color: #000000;
    -fx-background-radius: 45; /* Сильные скругления углов */
}

/* StudentMenu */
/* VBox */

.vbox {
    -fx-alignment: center; /* Центрирование по горизонтали */
}

.vbox_but{
    -fx-background-color: black;
    -fx-text-fill: #FFFFFF;
    -fx-font-size: 2.7em;
    -fx-background-radius: 40;
    -fx-alignment: center;
    -fx-font-family: "Myriad Pro";
    -fx-font-weight: bold;
} 

/* AnchorPane */
.anchor_pane_bottom{
    -fx-background-color: black;
    -fx-text-fill: #FFFFFF;
    -fx-font-size: 1.7em;
    -fx-background-radius: 30;
    -fx-alignment: center;
    -fx-font-family: "Myriad Pro";
    -fx-font-weight: bold;
}

.text_fon{
    -fx-alignment: center;
    -fx-font-family: "Myriad Pro";
    -fx-font-weight: bold;
    -fx-font-size: 5em;
}
